flow.json
[{"id":"c592ca5.0ec9f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"257a83ed.3b132c","type":"aws-iot-device","z":"","name":"iota","mode":"broker","clientId":"iota","endpoint":"a3lybv9v64fkof.iot.us-west-2.amazonaws.com","awscerts":"/home/dennis/.aws"},{"id":"c6069a30.2115d8","type":"aws-mqtt out","z":"c592ca5.0ec9f38","device":"257a83ed.3b132c","topic":"$aws/things/iota/shadow/update","qos":"1","x":830,"y":520,"wires":[]},{"id":"7a8c4b80.983294","type":"template","z":"c592ca5.0ec9f38","name":"Report JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"outlet1\": \"{{payload}}\"\n        }\n    }\n}","output":"str","x":610,"y":520,"wires":[["c6069a30.2115d8"]]},{"id":"ef2caac7.063108","type":"debug","z":"c592ca5.0ec9f38","name":"JSON Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":760,"wires":[]},{"id":"b36ad33a.5e1ae","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["7a8c4b80.983294"]]},{"id":"748c1819.b0d898","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["7a8c4b80.983294"]]},{"id":"48f7b40c.de7a6c","type":"aws-mqtt in","z":"c592ca5.0ec9f38","device":"257a83ed.3b132c","topic":"$aws/things/iota/shadow/update","x":190,"y":840,"wires":[["ee0f8755.94cb68"]]},{"id":"370d3912.5d3c86","type":"debug","z":"c592ca5.0ec9f38","name":"Deboned","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"outlet1","x":880,"y":820,"wires":[]},{"id":"60af58b3.537d78","type":"change","z":"c592ca5.0ec9f38","name":"","rules":[{"t":"set","p":"outlet1","pt":"msg","to":"msg.payload.state.reported.outlet1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":920,"wires":[["370d3912.5d3c86","b8bad429.0efe28"]]},{"id":"ee0f8755.94cb68","type":"json","z":"c592ca5.0ec9f38","name":"","property":"payload","action":"","pretty":false,"x":420,"y":860,"wires":[["60af58b3.537d78","ef2caac7.063108"]]},{"id":"b8bad429.0efe28","type":"switch","z":"c592ca5.0ec9f38","name":"Outlet 1","property":"outlet1","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":940,"wires":[["c3fd3f4a.54a75"],["51cc0353.ccd9ac"]]},{"id":"c3fd3f4a.54a75","type":"debug","z":"c592ca5.0ec9f38","name":"Outlet On","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"outlet1","x":1000,"y":880,"wires":[]},{"id":"51cc0353.ccd9ac","type":"debug","z":"c592ca5.0ec9f38","name":"Outlet Off","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"outlet1","x":1000,"y":960,"wires":[]}]