flow.json
[{"id":"c592ca5.0ec9f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6069a30.2115d8","type":"aws-mqtt out","z":"c592ca5.0ec9f38","topic":"","qos":0,"x":840,"y":520,"wires":[]},{"id":"7a8c4b80.983294","type":"template","z":"c592ca5.0ec9f38","name":"Report JSON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"outlet1\": \"{{payload}}\"\n        }\n    }\n}","output":"str","x":610,"y":520,"wires":[["ef2caac7.063108"]]},{"id":"ef2caac7.063108","type":"debug","z":"c592ca5.0ec9f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":620,"wires":[]},{"id":"b36ad33a.5e1ae","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["7a8c4b80.983294"]]},{"id":"748c1819.b0d898","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["7a8c4b80.983294"]]}]