flow.json
[{"id":"c592ca5.0ec9f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"257a83ed.3b132c","type":"aws-iot-device","z":"","name":"iota","mode":"broker","clientId":"iota","endpoint":"a3lybv9v64fkof.iot.us-west-2.amazonaws.com","awscerts":"/home/dennis/.aws"},{"id":"650cc876.e958e8","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"c6069a30.2115d8","type":"aws-mqtt out","z":"c592ca5.0ec9f38","device":"257a83ed.3b132c","topic":"$aws/things/iota/shadow/update","qos":"1","x":830,"y":520,"wires":[]},{"id":"7a8c4b80.983294","type":"template","z":"c592ca5.0ec9f38","name":"Set Desired","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": {\n        \"desired\": {\n            \"outlet1\": \"{{payload}}\"\n        }\n    }\n}","output":"str","x":610,"y":520,"wires":[["c6069a30.2115d8"]]},{"id":"ef2caac7.063108","type":"debug","z":"c592ca5.0ec9f38","name":"JSON Parse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":740,"wires":[]},{"id":"b36ad33a.5e1ae","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["7a8c4b80.983294"]]},{"id":"748c1819.b0d898","type":"inject","z":"c592ca5.0ec9f38","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["7a8c4b80.983294"]]},{"id":"48f7b40c.de7a6c","type":"aws-mqtt in","z":"c592ca5.0ec9f38","device":"257a83ed.3b132c","topic":"$aws/things/iota/shadow/update","x":90,"y":720,"wires":[["ee0f8755.94cb68"]]},{"id":"370d3912.5d3c86","type":"debug","z":"c592ca5.0ec9f38","name":"Deboned","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"outlet1","x":420,"y":840,"wires":[]},{"id":"60af58b3.537d78","type":"change","z":"c592ca5.0ec9f38","name":"","rules":[{"t":"set","p":"outlet1","pt":"msg","to":"msg.payload.state.desired.outlet1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":940,"wires":[["370d3912.5d3c86","b8bad429.0efe28"]]},{"id":"ee0f8755.94cb68","type":"json","z":"c592ca5.0ec9f38","name":"","property":"payload","action":"","pretty":false,"x":150,"y":840,"wires":[["60af58b3.537d78","ef2caac7.063108"]]},{"id":"b8bad429.0efe28","type":"switch","z":"c592ca5.0ec9f38","name":"Outlet 1","property":"outlet1","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1000,"wires":[["c3fd3f4a.54a75","f7ac635f.9f18f","3ada922a.78b70e"],["51cc0353.ccd9ac","dee292ca.85dd3","3ada922a.78b70e"]]},{"id":"c3fd3f4a.54a75","type":"debug","z":"c592ca5.0ec9f38","name":"Outlet On","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"outlet1","x":1000,"y":880,"wires":[]},{"id":"51cc0353.ccd9ac","type":"debug","z":"c592ca5.0ec9f38","name":"Outlet Off","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"outlet1","x":960,"y":1040,"wires":[]},{"id":"f7ac635f.9f18f","type":"template","z":"c592ca5.0ec9f38","name":"Set Reported","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"outlet1\": \"on\"\n        }\n    }\n}","output":"str","x":650,"y":880,"wires":[["65813694.78f1b8"]]},{"id":"65813694.78f1b8","type":"aws-mqtt out","z":"c592ca5.0ec9f38","device":"257a83ed.3b132c","topic":"$aws/things/iota/shadow/update","qos":"1","x":950,"y":980,"wires":[]},{"id":"dee292ca.85dd3","type":"template","z":"c592ca5.0ec9f38","name":"Set Reported","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"state\": {\n        \"reported\": {\n            \"outlet1\": \"off\"\n        }\n    }\n}","output":"str","x":650,"y":1100,"wires":[["65813694.78f1b8"]]},{"id":"ccf6b564.4962c8","type":"arduino out","z":"c592ca5.0ec9f38","name":"d8","pin":"8","state":"OUTPUT","arduino":"650cc876.e958e8","x":950,"y":1120,"wires":[]},{"id":"3ada922a.78b70e","type":"change","z":"c592ca5.0ec9f38","name":"To Digital","rules":[{"t":"change","p":"outlet1","pt":"msg","from":"on","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"outlet1","pt":"msg","from":"off","fromt":"str","to":"1","tot":"num"},{"t":"move","p":"outlet1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1000,"wires":[["ccf6b564.4962c8","b83a4c40.604d4"]]},{"id":"b83a4c40.604d4","type":"arduino out","z":"c592ca5.0ec9f38","name":"d8","pin":"9","state":"OUTPUT","arduino":"650cc876.e958e8","x":950,"y":1200,"wires":[]},{"id":"ee2a02f2.c02b6","type":"inject","z":"c592ca5.0ec9f38","name":"On Time","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":320,"y":400,"wires":[["7a8c4b80.983294"]]},{"id":"4b448c05.11fe64","type":"inject","z":"c592ca5.0ec9f38","name":"Off Time","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"30 17 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":320,"y":600,"wires":[["7a8c4b80.983294"]]}]